$primary: #418af8;
$secondary: #59deff;
$gray: #dfe0fe;

%initStyle {
  box-shadow: 0 10px 20px 0 rgba($color: #000000, $alpha: 0.4);
  border-radius: 15px;
  overflow: hidden;
}

body {
  background-image: url("./../img/back.jpg");
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
  padding: 40px 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.globe1 {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.globe2 {
  position: fixed;
  right: 0;
  bottom: 0;
}

.globe3 {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.board {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background-color: rgba($color: #151771, $alpha: 0.4);
  padding: 60px;
  border: 5px solid $primary;
  border-radius: 15px;
  text-align: center;
  font-size: 30px;
  @extend %initStyle;

  .title {
    color: $primary;
  }

  table {
    margin: 70px auto 0;
    @extend %initStyle;

    tr {
      td {
        width: 60px;
        height: 60px;
        cursor: pointer;

        .x {
          color: $primary;
        }
        .o {
          color: $secondary;
        }
      }

      &:nth-child(1n) {
        td:nth-child(1n) {
          background-color: $gray;
        }
        td:nth-child(2n) {
          background-color: white;
        }
      }
      &:nth-child(2n) {
        td:nth-child(1n) {
          background-color: white;
        }
        td:nth-child(2n) {
          background-color: $gray;
        }
      }
    }
  }
}

#myModal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.6);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  .my-modal-body{
    max-width: 500px;
    padding: 20px;
    box-shadow: 0 10px 20px 0 rgba($color: #000000, $alpha: 0.4);
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-size: 40px !important;
    text-align: center;
    animation-name: zoomin;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);

    .btn{
      font-size: 40px !important;
    }
  }
}


@keyframes zoomin{
  0%{
    transform: scale(0.5);
    opacity: 0.5;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}